<div class="nested-fields">
  <div class="form-group">
    <%= f.label :title, class: 'col-md-3 control-label' %>
    <div class="col-md-4">
      <%= f.text_field :title, class: 'form-control input-circle', required: true %>
      <%= link_to_remove_association "remove option", f, class: 'help-block' %>
    </div>
  </div>
</div>